flows.json
[{"id":"efd31199.51881","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d50a3683.1a4368","type":"function","z":"efd31199.51881","name":"PreToken","func":"global.set(\"rn\",msg.payload.rd)\nglobal.set(\"ci\",msg.payload.ci)\nglobal.set(\"sn\",msg.payload.sn)\nglobal.set(\"cs\",msg.payload.cs)\nglobal.set(\"geo\",msg.payload.geo)\nglobal.set(\"ge\",msg.payload.ge)\nglobal.set(\"ag\",msg.payload.ag)\nglobal.set(\"te\",msg.payload.te)\nglobal.set(\"bal\",msg.payload.bal)\nglobal.set(\"nop\",msg.payload.nop)\nglobal.set(\"hcc\",msg.payload.hcc)\nglobal.set(\"am\",msg.payload.am)\nglobal.set(\"es\",msg.payload.es)\nvar apikey=\"xhiLjQCaF8DsG1-XfuDGzM7cAEn9c0y-W5Ytt_lwJnrZ\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":300,"wires":[["9d12a74f.fa2768"]]},{"id":"9d12a74f.fa2768","type":"http request","z":"efd31199.51881","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":440,"wires":[["38dc0c94.ff0784"]]},{"id":"efd5634f.abd7f","type":"debug","z":"efd31199.51881","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":140,"wires":[]},{"id":"38dc0c94.ff0784","type":"function","z":"efd31199.51881","name":"Pre Prediction","func":"var rn = global.get('rn')\nvar ci = global.get('ci')\nvar sn = global.get('sn')\nvar cs = global.get('cs')\nvar geo = global.get('geo')\nvar ge = global.get('ge')\nvar ag = global.get('ag')\nvar te = global.get('te')\nvar bal = global.get('bal')\nvar nop = global.get('nop')\nvar hcc = global.get('hcc')\nvar am = global.get('am')\nvar es = global.get('es')\nvar token=msg.payload.access_token\nvar instance_id=\"7a0e3ade-b37d-4cdc-8edf-e44f882a3d34\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"RowNumber\", \"CustomerId\", \"Surname\", \"CreditScore\",\"Geography\",\"Gender\",\"Age\",\"Tenure\",\"Balance\",\"NumOfProducts\",\"HasCrCard\",\"IsActiveMember\",\"EstimatedSalary\"], \"values\": [[rn,ci,sn,cs,geo,ge,ag,te,bal,nop,hcc,am,es]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":300,"wires":[["a70cf6e0.64d868"]]},{"id":"a70cf6e0.64d868","type":"http request","z":"efd31199.51881","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/80c80f0e-2aa9-499e-b83d-ea4016db33e5/predictions","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":300,"wires":[["efd5634f.abd7f","4bf6215.35d75e"]]},{"id":"212fc57e.ddb1ca","type":"ui_form","z":"efd31199.51881","name":"","label":"","group":"7408f749.ff5cb8","order":0,"width":0,"height":0,"options":[{"label":"RowNumber","value":"rn","type":"number","required":true,"rows":null},{"label":"CustomerId","value":"ci","type":"number","required":true,"rows":null},{"label":"Surname","value":"sn","type":"text","required":true,"rows":null},{"label":"CreditScore","value":"cs","type":"number","required":true,"rows":null},{"label":"Geography","value":"geo","type":"text","required":true,"rows":null},{"label":"Gender","value":"ge","type":"text","required":true,"rows":null},{"label":"Age","value":"ag","type":"number","required":true,"rows":null},{"label":"Tenure","value":"te","type":"number","required":true,"rows":null},{"label":"Balance","value":"bal","type":"number","required":true,"rows":null},{"label":"NumOfProducts","value":"nop","type":"number","required":true,"rows":null},{"label":"HasCrCard","value":"hcc","type":"number","required":true,"rows":null},{"label":"IsActiveMember","value":"am","type":"number","required":true,"rows":null},{"label":"EstimatedSalary","value":"es","type":"number","required":true,"rows":null}],"formValue":{"rn":"","ci":"","sn":"","cs":"","geo":"","ge":"","ag":"","te":"","bal":"","nop":"","hcc":"","am":"","es":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":91,"y":402.9999952316284,"wires":[["d50a3683.1a4368"]]},{"id":"2f8deb54.2da9b4","type":"ui_text","z":"efd31199.51881","group":"7408f749.ff5cb8","order":1,"width":0,"height":0,"name":"","label":"customer prediction","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":400,"wires":[]},{"id":"4bf6215.35d75e","type":"function","z":"efd31199.51881","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":180,"wires":[["2f8deb54.2da9b4"]]},{"id":"7408f749.ff5cb8","type":"ui_group","z":"","name":"Default","tab":"d01a6bcb.669be8","order":1,"disp":true,"width":"6","collapse":false},{"id":"d01a6bcb.669be8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]